<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="panel-crear-periodo.component.css">
    <title>Panel crear Periodos</title>
</head>
<body>
    <div class="panel">
        <p class="txt-2">Panel Crear Periodos</p>
       
        <div class="input-container input-arrow">
            <label for="Seleccione" class="dropdown-btn">Seleccione Mes</label>
            <div id="SeleccioneDropdown" class="dropdown-content">
                <option value="modalidad1">Mes</option>

            </div>
        </div>

        <div class="input-container input-arrow">
            <label for="Seleccione" class="dropdown-btn">Seleccione un Año</label>
            <div id="SeleccioneDropdown" class="dropdown-content">
                <option value="curso1">Año</option>
            </div>
        </div>
        
        <div class="buttons">
            <button id="crear-materia">Crear Periodo</button>
            <button id="cancelar">Cancelar</button>
        </div>
    </div>
</body>
</html>
