<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Tabla de listado de Jornadas</title>
</head>
<body>
    
    <div class="center-container">
        <p class="txt-2">Listado de Jornadas</p>

        <div class="inputs">
            <button>Editar</button>
            <button class="button1">Eliminar</button>
            <input type="buscar" class="box" placeholder="Buscar">
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cargo</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Matutina</td>
                    <td>Jornada comprendida en el horario de 7 am - 1 pm</td>
                </tr>
                <!-- Agrega más filas según sea necesario -->
            </tbody>
        </table>

    </div>
</body>
</html>
