.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.header-buttons button {
  margin-right: 10px;
  background-color: #555;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.logout-button button {
  background-color: #d9534f; /* Color de fondo rojo */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
