/* app.component.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Estilos para el encabezado */
/* .header {
  background-color: #3498db; 
  height: 100px; 
} */

/* Estilos para el contenedor principal */
/* .container-fluid {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
} */

/* Estilos para el contenido y el pie de página */
.row {
  flex: 1; /* Hace que la fila ocupe todo el espacio disponible */
}

/* Estilos para el pie de página */
/* .footer {
  background-color: #007bff;
  color: #fff;
  height: 40px; 
  padding: 10px;
  text-align: center;
} */
