<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de listado de Jornadas</title>
</head>
<body>
    
    <div class="center-container">
        <p class="txt-2">Listado de Jornadas</p>

        <div class="inputs">
            <button>Editar (click)=" " </button>
            <button class="button1">Eliminar  (click)="eliminarJornada(jornada.jornada_id)" </button>
            <input type="buscar" class="box" placeholder="Buscar">
        </div>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let jornada of jornadas">
                    <td>{{jornada.jornada_id}}</td>
                    <td>{{jornada.jornada_nombre}}</td>
    
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>