<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sistema-administrativo.component.css">
    <title>Tabla de Menu SGA</title>
    <style>
        .txt-2 {
            font-weight: bold;
            text-align: center; /* Añadido para centrar el texto */
        }
    </style>
</head>
<body>
    
    <div class="center-container">
        <p class="txt-2">Sistema de Gestion Administrativo</p>

        <div class="input-container input-arrow" style="margin-bottom: 20px;">
            <select id="SeleccioneDropdown" class="dropdown-content" style="width: 250px; height: 40px;">
                <option value="Periodos">Periodos Octubre-Febrero 2023/2024</option>
                <!-- Agrega más opciones según sea necesario -->
            </select>
        </div>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Titulo Profesional</th>
                    <th>Carreras</th>
                    <th>Cursos</th>
                    <th>Asignaturas</th>
                    <th>Horas de Clases</th>
                    <th>Total de Horas</th>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
            </tr>
            
        </tbody>

        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
            </tr>
            
        </tbody>

        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
            </tr>
            
        </tbody>

        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
            </tr>
           
        </tbody>

        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
            </tr>
           
        </tbody>

        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
            </tr>
           
        </tbody>

        <tbody>
            <tr>
                <td>Juan Espinoza</td>
                <td>Ingeniero en Excel</td>
                <td>D.Software</td>
                <td>M5A</td>
                <td>Emprendimiento</td>
                <td>2</td>
                <td>10</td>
                
            </tr>
           
        </tbody>
        </table>

    </div>
</body>
</html>
